# MongoDB에는 Auto Increment 기능이 없어서, mongoose-auto-increment라는 라이브러리를 설치했는데 얘가 좀 옛날 라이브러리다.
# 로그에도 나오듯이 npm i --force 또는 npm i --legacy-peer-deps 명령어를 통해 라이브러리를 설치해야 하는데, koyeb에는 따로 npm 명령어를 고칠 수 있는 기능이 존재하지 않는다.

legacy-peer-deps=true
