body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#calendar-container {
  width: 100%;
  margin: 50px auto;
}


/* 달력부분 */

/* 일요일 날짜: 빨간색 */
.fc .fc-day-sun a {
  color: red;
}

/* 토요일 날짜: 파란색 */
.fc .fc-day-sat a {
  color: blue;
}

/* 제목 볼드 빼기 */
.fc .fc-toolbar-title {
  font-weight: normal;
}

/* 일정표 툴 바  */
.fc .fc-toolbar.fc-header-toolbar {
  margin: 0;
  padding: 0 40px;
  background-color: #76c3c5;
  height: 60px;
  
  font-size: 12px;
  line-height: 30px;
  color: white;
  border-radius: 20px 20px 0px 0px;
}

/* 툴바의 버튼 */
.fc .fc-toolbar-chunk .fc-button {
  background-color: transparent;
  border: none;
  font-size: 14px;
}

/* 툴바 사용 불가 버튼 스타일 */
.fc .fc-toolbar-chunk .fc-button:disabled {
  color: #e8e8e8;
}
/* 툴바 사용 불가 버튼 hover 시 스타일 주지 않기 */
.fc .fc-toolbar-chunk .fc-button:disabled:hover {
  background-color: transparent;
}

/* 툴바 버튼 포커스 시 그림자 제거 */
.fc .fc-toolbar-chunk .fc-button:focus {
  box-shadow: none;
}

/* 툴바 버튼 hover 시 배경색 변경 */
.fc .fc-toolbar-chunk .fc-button:hover {
  background-color: #87cdcf;
}

/* 날짜변경 화살표 아이콘 */
.fc .fc-button-primary span {
  font-weight: 500;
  font-size: 28px;
}

/* 요일의 높이 */
.fc-theme-standard th {
  height: 40px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #7b7b7b;
  vertical-align: middle;
}

/* Tody Cell에 배경색 주기 */
.fc .fc-daygrid-day.fc-day-today {
  background-color: #e6895724;
}

/* 날짜 Cell 프레임 */
.fc .fc-daygrid-day-frame {
  padding: 10px;
}

/* 월간,주간 view의 Cell이 시작하는 위치 */
.fc .fc-daygrid-day-top {
  flex-direction: row;
  height: 30px;
  margin-bottom: 3px;
}

/* 날짜 숫자 z-index 초기화 */
.fc .fc-daygrid-day-number {
  z-index: auto !important;
}

/* 이벤트 막대 스타일 */
.fc-event {
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
}

/* 모달 팝업 */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content label {
  display: flex;
  align-items: center;
  margin: 0;
}

.modal-content span {
  display: block;
  margin-right: 1vw;
}

.modal-content input {
  width: 80%;
  padding: 8px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-content button {
  background-color: #089196;
  color: white;
  padding: 10px 20px;
  margin: 20px 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #076b6b;
}
